html {
  box-sizing: border-box;
  min-height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fffefe;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
