html {
  box-sizing: border-box;
  min-height: 100vh;
  font-size: 16px;

  @media (max-width: 2000px) {
    font-size: 16px;
  }
  @media (max-width: 960px) {
    font-size: 13px;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  min-height: 100vh;
  color: #333333;
}

#root {
  min-height: 100vh;
  --toastify-color-success: rgb(69, 148, 30);
}

button {
  cursor: pointer;
}

.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
