html {
  box-sizing: border-box;
  min-height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  min-height: 100vh;
  color: #333333;
}

#root {
  min-height: 100vh;
  --toastify-color-success: rgb(69, 148, 30);
}

button {
  cursor: pointer;
}
